.users {
  width: 100%;
}

.user {
  display: inline-block;
  margin: 2%;
  max-width: 30%;
}

.users-group {
  display: flex;
  flex-flow: wrap;
}

.image {
  background-color: rgb(247, 247, 247);
}

.ullist {
  display: grid;
  // grid-template-columns: repeat(4, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.infofield {
  display: flex;
  flex-direction: row;
}

.icon-label {
  margin-left: 2%;
  font-size: medium;
}

.icon {
  font-size: 18px;
}

.matcardact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

// .btnicon {
//   margin-left: 10px;
//   margin-right: 10px;
// }

.addbutton {
  margin-left: 100%;
}

.usertitle {
  font-size: large;
  text-overflow: ellipsis;
}
