<button type="button" class="btn btn-primary addbutton">Add</button>
<div class="users-group">
  <div *ngFor="let user of users" class="user">
    <mat-card id="{{ user.id }}">
      <!-- <div (click)="openDialog(user)"></div> -->
      <div class="image">
        <img [src]="userImage" class="image" />
      </div>
      <mat-card-title-group class="user">
        <mat-card-title class="usertitle">{{ user.name }}</mat-card-title>
      </mat-card-title-group>
      <mat-card-content>
        <div class="infofield">
          <div>
            <mat-icon class="icon">email </mat-icon>
          </div>
          <div class="icon-label">:{{ user.email }}</div>
        </div>

        <div class="infofield">
          <div>
            <mat-icon class="icon">phone_enabled </mat-icon>
          </div>
          <div class="icon-label">:{{ user.phone }}</div>
        </div>

        <div class="infofield">
          <div>
            <mat-icon class="icon">language </mat-icon>
          </div>
          <div class="icon-label">:{{ user.website }}</div>
        </div>
      </mat-card-content>
      <mat-card-actions class="matcardact">
        <button mat-icon-button style="margin-right: 5px">
          <mat-icon>favorite_border </mat-icon>
        </button>

        <button
          mat-icon-button
          style="margin-left: 10px; margin-right: 10px"
          (click)="openDialog(user)"
        >
          <mat-icon>drive_file_rename_outline </mat-icon>
        </button>

        <button mat-icon-button style="margin-left: 5px">
          <mat-icon>delete_forever </mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
