<div mat-dialog-content>
  <div class="dialogContainer">
    <form [formGroup]="updateUserForm" (ngSubmit)="onSubmit()">
      <!-- <div class="dialog-item">
        <textarea class="UpdateUserInput title" formControlName="title" matInput placeholder="Name"
          [cdkTextareaAutosize]></textarea>
      </div>
      <div class="dialog-item">
        <textarea class="UpdateUserInput" formControlName="description" matInput placeholder="Description"
          [cdkTextareaAutosize]></textarea>

      </div> -->

      <div class="form-head">
        <h2>Basic Modal</h2>
      </div>
      <hr />
      <div class="form-container">
        <mat-form-field appearance="outline">
          <div class="form-field">
            <label class="label">Name: </label>
            <input
              matInput
              class="input"
              id="name"
              name="name"
              formControlName="name"
            />
          </div>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <div class="form-field">
            <label class="label">Email: </label>
            <input
              matInput
              name="email"
              id="email"
              class="input"
              formControlName="email"
            />
          </div>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <div class="form-field">
            <label class="label">Phone: </label>
            <input
              matInput
              name="phone"
              id="phone"
              class="input"
              formControlName="phone"
            />
          </div>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <div class="form-field">
            <label class="label">Website: </label>
            <input
              matInput
              name="website"
              id="website"
              class="input"
              formControlName="website"
            />
          </div>
        </mat-form-field>
      </div>
      <hr />
      <div class="actionButtons">
        <button mat-button (click)="onNoClick()">Close</button>
        <button
          mat-raised-button
          color="primary"
          [mat-dialog-close]="updateUserForm"
          cdkFocusInitial
        >
          Update User
        </button>
      </div>
    </form>
  </div>
</div>
